obj
*.wrn
*.projhash*
*.userosscache
*.user
*.sln.cache
*.slnhash
*.slnhash.userData
*.slnhash.userData.assemblies
*.proj.projhash
*.proj.projhash.userData
*.proj.projhash.userData.assemblies
*.csproj.projhash
*.csproj.projhash.userData
*.csproj.projhash.userData.assemblies
project.assets.json
*.nuget.cache
*.nuget.g.props
*.nuget.g.targets
*.vc.db
*.vc.opendb
.vs\
