@page
@model Setup.Pages.SearchPlace.DetailsModel

@{
    ViewData["Title"] = "Photo";
}

<h1>Photo</h1>


<h4>Place</h4>
    <hr />

<table class="table">
        <thead>
          

            <tr>
               
                @Html.DisplayNameFor(model => model.Photo[0].PhotoName)
            </tr>
        </thead>
        <tbody>

@foreach (var item in Model.Photo)
{ 
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.PhotoName)
                    </td>

                    <td>

                        <a asp-page="Booking/Index" asp-route-id="@Model.Photo[0].PlaceID ">Booking</a> |
                        <a asp-page="./Index">Back to List</a>
                    </td>
                 </tr>
}
            </tbody>
</table>
