@page
@model Setup.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
</br>

<div class="form-row">
    <label for="username" class="col-md-auto col-form-label">Username:</label>
    <div class="form-group col-sm-5">
        <input type="username" class="form-control" id="username">
    </div>
</div>

<div class="form-row">
    <label for="pass" class="col-md-auto col-form-label">Password:</label>
    <div class="form-group col-sm-5">
        <input type="password" class="form-control" id="pass">
    </div>
</div>

<div class="btn-group" role="group">
    <button class="btn btn-outline-primary btn-lg" onclick="window.location.href='UserAccount/Details';">Log In</button>
</div>

<div class="btn-group" role="group">
    <button class="btn btn-outline-primary btn-lg" onclick="window.location.href='UserAccount/Details';">Forget My Password</button>
</div>
</br>
<div class="form-row">
<label>
    <input type="checkbox" checked="checked" name="remember"> Remember me
</label>
</div>


